/* input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
} */

/*styling the main div*/

#main_div {
    box-sizing: content-box;
    padding: 50px 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 30%;
    margin-bottom: 16px;
}



/* Style the submit button */

button :hover {
    background-color: green;
}

.btn-box {
    padding: 20px;
    margin-left: 25%;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

.signupimg {
    height: 100px;
    padding-left: 175px;
}

#Login_redirect {
    padding-left: 400px;
}